.sidebar {
  list-style: none;
  background-color: palevioletred;
  padding: 20px
}

.item + .item {
  margin-top: 10px;
}

.item a {
  text-decoration: none;
  color: #fff;
}

.item a:hover, .item a.active {
  text-decoration: underline;
}